*.class
*.ctxt
*.dat
*.DS_Store  # Para macOS
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.nar
*.rar
*.sublime-workspace
*.tar.gz
*.war
*.zip
*Script.orm
.c9/
.classpath
.DS_Store
.editorconfig
.factorypath
.gitkeep
.history/*
.idea/
.mtj.tmp/
.project
.sass-cache/
.settings/
.vscode
.vscode/*
/.angular/cache
/bazel-out
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/target
/tmp
/typings
application-dev-local.yml
git-config.bat
hs_err_pid*
npm-debug.log
package-lock.json
replay_pid*
testem.log
Thumbs.db   # Para Windows
yarn-error.log
